* {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;

}

a {
    text-decoration: none !important;
    color: #212529;
}

/* navbar Css */
.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;    
    border: none !important;    

}
.menu-icon{
    display: flex;
    flex-direction: column; 
    justify-content: space-center;
    align-items: center;
    padding: 15px 10px !important;
    gap: 5px;
    border-radius: 10px;
}
.menu-icon .bar{
    position: relative;
    z-index: 2;
    width: 30px;
    height: 4px;
    background-color: #212529;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.bar1 {
    transform: rotate(45deg) translate(5px, 5px);
}
.bar3 {
    transform: rotate(-45deg);
}

.hide-bar2{
    display: none !important;
}

.navbar .nav-item{
    position: relative;
    z-index: 1;
}

.navbar .nav-item::after {
    content: "" !important;
    position: absolute !important;
    bottom: 0;
    left: 0 !important;
    width: 0% !important;
    height: 3px !important;
    border-radius: 10px;
    background-color: #212529 !important;
    z-index: 1 !important;
    transition: all 0.3s ease !important;
}


.navbar .nav-item:hover::after {
    width: 100% !important;
}

.navbar .nav-item .nav-link {
    font-size: .6em !important;
    position: relative !important;
    z-index: 2 !important;
}

.navbar .nav-item .nav-link:hover {
    color: #212529 !important;
}

.navbar .nav-item .dropdown-menu {
    left: 50px;
}

.navbar .nav-item .dropdown-item {
    font-size: .6em !important;
    font-weight: 100 !important;
    border-radius: 5px;
    transition: all 0.3s ease !important;
}

.navbar .nav-item .dropdown-item:hover {
    background-color: #212529 !important;
    color: #fff !important;
}

.navbar .brand-name-div {
    height: 100% !important;
}

.navbar .navbar-brand {
    font-size: 1em !important;
    top: 5px;
}

.navbar .register-btn {
    position: relative;
    background-color: #ffffff00 !important;
    border: 2px solid #212529 !important;
    font-size: .8em !important;
    border-radius: 3px !important;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease !important;
}

.navbar .register-btn a {
    position: relative;
    font-size: .8em !important;
    z-index: 2;
    color: #212529;
    transition: all 0.3s ease;
}

.navbar .register-btn::after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 0% !important;
    height: 100% !important;
    background-color: #212529 !important;
    z-index: 1 !important;
    transition: all 0.3s ease !important;
}

.navbar .register-btn:hover::after {
    width: 100% !important;
}

.navbar .register-btn:hover> a{
    color: #fff
}

/* hero section Css */
.hero-section .img-div {
    background-image: url("images & videos/hero-img.png") !important;
    background-size: cover !important;
    background-position: center !important;
    height: 47vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 12px !important;
}


/* about section  */
.about-section h6{
    font-size: .7em !important;
    font-weight: 400 !important;
    color: #212529 !important;
}

.about-section p{
    font-size: .7em !important;
    font-weight: 400 !important;
    color: #212529 !important;
}

@media screen and (max-width: 600px) {
    .hero-section .img-div {
        height: 100vw !important;
        border-radius: 5px !important;

    }
        .about-section h6{
            font-size: .5em !important;
            font-weight: 400 !important;
            line-height: 5px;
        }
        
        .about-section p{
            font-size: .4em !important;
            font-weight: 400 !important;
            line-height: 10px;
        }
        .about-section #child-4{
            font-size: .36em !important;
            font-weight: 400 !important;
            line-height: 10px;
        }
        .about-section h3{
            font-size: .6em !important;
            font-weight: 400 !important;
        }
    }
